<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.memberCount }}</div>
  <div class="clanStatLabel">Members</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.clanWarTrophies | formatNumber }}</div>
  <div class="clanStatLabel">War Trophies</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.clanScore | formatNumber }}</div>
  <div class="clanStatLabel">Clan Trophies</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.donationsPerWeek | formatNumber }}</div>
  <div class="clanStatLabel">Donations / Week</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.totalTrophies | formatNumber }}</div>
  <div class="clanStatLabel">Total Trophies</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ elixirClan.minTrophies | formatNumber }}</div>
  <div class="clanStatLabel">Min Trophies</div>
</div>
