<div class="clanStat">
  <div class="clanStatValue">{{ site.memberCount }}</div>
  <div class="clanStatLabel">Members</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ site.clanWarTrophies | formatNumber }}</div>
  <div class="clanStatLabel">War Trophies</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ site.clanScore | formatNumber }}</div>
  <div class="clanStatLabel">Clan Score</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ site.donationsPerWeek | formatNumber }}</div>
  <div class="clanStatLabel">Donations / Week</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ site.totalTrophies | formatNumber }}</div>
  <div class="clanStatLabel">Total Trophies</div>
</div>
<div class="clanStat">
  <div class="clanStatValue">{{ site.avgLevel }}</div>
  <div class="clanStatLabel">Avg Member Level</div>
</div>
